:root {
    --primary-color: #6c63ff;
    --secondary-color: #272142;
    --bacground-color: #F9F7FE;
    --main-font: 'Poppins', sans-serif;
    --accent-font: 'Playfair Display', serif;
}

body {
    font-family: var(--main-font);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 85px;
    margin: 40px 0;
}

h3 {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

h4 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 150px 0 40px
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-top: 20px;
}

.active {
    color: var(--secondary-color); !important
}

.hero {
    text-align: center;
    background: var(--bacground-color);
    padding: 160px 20px;
    margin-bottom: 47px;
}

.hero > h2 {
    font-size: 96px;
    font-weight: 700;
    line-height: 128px;
    font-family: var(--accent-font);

}

.hero-container {
    margin-top: 200px;
}

.hero-container h1 {
    font-family: var(--accent-font);
    font-size: 64px;
    line-height: 85.31px;
}

.hero-container h2 {
    font-size: 18px;
    line-height: 27px;
}

.hero-container h3 {
    font-size: 34px; 
    font-weight: 500;
    padding: 40 0px; 
    margin-top: 60px;
}

.hero-container p {
    text-align: center;
}

.hero-description {
    line-height: 30px;
    padding-right: 60px;
    margin-bottom: 60px;
}

.about-btn {
    font-size: 18px;
    margin-left: 0;
}

.btn-style, .btn-style:hover {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: white;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 18px 30px;
}

.app-description {
    padding: 60px;
}

.app-description-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--secondary-color);
    opacity: 0.7;
    margin-bottom: 60px;
}

.project-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 18px 25px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin: 60px;
}

.work-heading h1 {
    margin-right: 150px;
}

footer h6 {
    font-size: 48px;
    font-family: var(--accent-font);
    line-height: 63.98px;

}

.work-inquiry {
    background: var(--bacground-color);
    border-radius: 10px;
    margin: 120px 43px;
}

.footer-mail a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.footer-mail a:hover {
    color: var(--primary-color);
}

.icon {
    font-size: 18px;
    margin: 20px;
    padding: 15px 20px;
    background: var(--bacground-color);
    border-radius: 50%;
}

.icon:hover {
    border: 1px solid var(--primary-color);
}

@media (max-width: 600px) {
    body {
        text-align: center;
    }
    
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 28px;
        line-height: 1.5;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 12px;
    }

    .hero > h2 {
        font-size: 48px;
        line-height: 2;
    }

    .btn-style {
        font-size: 14px;
    }    

    .app-description-paragraph, .project-link {
        font-size: 12px;
        line-height: 1;
    }  
    
    .hero-container {
        margin-top: 80px;
        padding: 20px;
    }

    .hero-container h1 {
        font-size: 32px;
        line-height: 1;
        text-align: center;
        margin-bottom: 30px;
    }

    .hero-container h2 {
        margin: 30px 5px;
    }

    .hero-container h3 {
        font-size: 24px;
        padding: 10px;
        margin-top: 20px;
    }

    .hero-description {
        font-size: 13px;
        text-align: center;
        margin-bottom: 20px;
        padding-right: 10px;
    }

    .about-btn {
        margin: 20px;
    }

   .work-heading h1 {
    margin-right: 0;
    text-align: center;
   }
}